
:root {
  --primary-color: #FF5A5F; /* Airbnb Red */
  --secondary-color: #00A699; /* Airbnb Green */
  --text-color: #484848; /* Dark Gray */
  --background-color: #F7F7F7; /* Light Gray */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

input {
  background-color: white;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: darken(var(--primary-color), 10%);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: darken(var(--primary-color), 10%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: darken(var(--primary-color), 10%);
  }
  button {
    background-color: var(--primary-color);
  }
}


body{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.main {
  height: calc(100% - 60px);
  overflow: auto;
}